:root {
  --yellow: #f5b000;
  --dark: #0f0f0f;
  --dark-overlay: rgba(0, 0, 0, 0.55);
  --white: #ffffff;
  --gray: #d0d0d0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--dark);
  color: var(--white);
  margin: 0;
  padding-top: 80px;
  overflow-x: hidden;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgba(15, 15, 15, 0.85);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo strong {
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--yellow);
}

.nav {
  display: flex;
  gap: 2rem;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--yellow);
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
}

.header-btn {
  padding: 0.6rem 1.4rem;
  font-size: 0.85rem;
}

/* HERO */

.hero {
  max-width: 100%;

  position: relative;
  height: 700px;
  background-image: url("../images/heroo.webp");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

/* затемнення поверх фото */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: var(--dark-overlay);
  z-index: 1;
}

/* контент */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 0 6vw;
}

.hero-title {
  font-size: clamp(2.6rem, 5vw, 3.8rem);
  font-weight: 800;
  line-height: 1.05;
  text-transform: uppercase;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
}
.hero-title span {
  display: block;
}

/* жовта лінія */
.hero-line {
  display: block;
  border-radius: 50px;
  max-width: 500px;

  height: 4px;
  background-color: var(--yellow);
  margin: 1.2rem 0 1.4rem;
}

/* підзаголовок */
.hero-subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 2.2rem;
  text-align: center;
}

/* кнопки */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  padding: 0.85rem 1.8rem;
  font-size: 0.95rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--yellow);
  color: var(--dark);
}

.btn-primary:hover {
  background-color: #ffbf1f; /* світліший жовтий */
  color: var(--white); /* або щось, що контрастує */
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* section 3 */

/* about */
.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.about {
  padding: 0;
  /* світлий фон для контрасту з VANTA */
  color: #f3df05e4;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.about-text {
  flex: 1 1 500px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-size: 1rem;
}

.about-image {
  flex: 0 0 300px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.section-line {
  display: block;
  width: 60px;
  height: 4px;
  background: #f6c400; /* жовта лінія під заголовком */
  margin: 10px auto 0;
  border-radius: 2px;
}

/* SECTION TITLE */
.section-title {
  font-size: 2rem;
  font-weight: 800;
  color: #f5b000;
  margin-bottom: 3rem;
  text-align: center;
}

.section-line {
  display: block;
  border-radius: 50px;

  width: 100%;
  height: 2px;
  background: #f6c400;
  margin-top: 12px;
}

/* ------------my services---------- */

/* --------------------------------------------------------- */
.services {
  background: radial-gradient(circle at top, #2b3037, #14171c);
  padding: 50px 0px;
}

.services-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #f2c94c;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.services-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 0 20px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 20px;
  border-radius: 15px;
  background: linear-gradient(180deg, #2a2f36, #1b1f25);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-height: 300px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.08),
    0 30px 60px rgba(0, 0, 0, 0.8);
}

.service-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.service-card:hover .icon {
  transform: scale(1.05);
  filter: brightness(1.15);
}

.service-card h3 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin: 12px 0 8px;
}

.service-card p {
  font-size: 14px;
  color: #bfc3c7;
  line-height: 1.5;
}

/* -----------------------MODAL-------------------------  */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(10, 12, 15, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-overlay.active .modal {
  transform: scale(1);
  opacity: 1;
}

.modal {
  background: linear-gradient(180deg, #2a2f36, #1b1f25);
  border-radius: 14px;
  padding: 30px;
  width: 90%;
  max-width: 480px;
  color: #fff;
  position: relative;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.8);
  transform: scale(0.96);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: scale(1);
}

.modal-title {
  font-size: 18px;
  color: #f2c94c;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 14px;
  color: #bfc3c7;
  margin-bottom: 20px;
}

.modal-details {
  padding-left: 18px;
  margin-bottom: 25px;
}

.modal-cta {
  display: inline-block;
  padding: 10px 18px;
  background: #f2c94c;
  color: #14171c;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  background: none;
  border: none;
  color: #fff;
  font-size: 23px;
  cursor: pointer;
}

/* ------------------------------------ */

.section-dark::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.06),
    transparent 60%
  );
  pointer-events: none;
}
.section-dark > * {
  position: relative;
  z-index: 2;
}

.section-dark::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.08) 1px,
    transparent 1px
  );
  background-size: 40px 40px;
  opacity: 0.15;
  pointer-events: none;
}

/* -----------------portfolio------------ */

.portfolio {
  padding: 80px 20px;
  background: #14171c;
  color: #ffffff;
  text-align: center;
}

.portfolio-title {
  font-size: 28px;
  font-weight: 600;
  color: #f2c94c;
  margin-bottom: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery a {
  display: block;
  width: 100%;
  /* height: 250px; */
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 8px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* --------------------------------------------- */

/* footer */
.footer {
  background: #1b1f23; /* темний фон під VANTA */
  color: #fff;
  padding: 25px 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.footer-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-contacts a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 1.1rem;
  color: #f6c400; /* жовтий акцент */
  text-decoration: none;
  transition: 0.3s;
}

.footer-contacts a:hover {
  color: #fff;
}

.footer-copy {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #ccc;
  text-align: center;
}
